*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
body{
    background-image: url(../img/Background.png);
    background-color: #cccccc;
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.dropdown{
    display: none;
}
.navbar{
    border: none;
}
.navbar-default{
    background-color: rgb(0, 0, 0, 0);
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    background-color: rgb(0, 0, 0, 0);
    color: #ffffff;

}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a{
    color: #ffffff;
}
.navbar-default .navbar-brand {
    color: #ffffff;
    font-size: 50px;
    margin: 30px 0;
    padding-left: 100px;
}
.navbar-default .navbar-brand:hover{
    color: #ffffff;
}
.navbar-nav{
    padding: 32px 0 40px 490px;
}
.navbar-default .navbar-nav>li>a{
    color: #ffffff;
    font-size: 24px;
}
.navbar-default .navbar-nav>li>a:hover{
    color: #ffffff;
}
.btn{
    display: block;
}
main article{
    width: 700px;
    height: 620px; 
    /* background-color: aquamarine; */
    margin-left: 550px;
}
main article h2{
    font-size: 100px;
    height: 260px;
    width: 700px;
    text-align: end;
}
main article p{
    font-size: 30px;
    width: 350px;
    height: 270px;
    margin: 6px 0 0 350px;
    text-align: end;
}
main article h2, main article p{
    color: #ffffffff;
}
main article .mainisa{
    display: flex;
    color: #ffffff;
    width: 150px;
    height: 42px;
    font-size: 28px;
    /* background-color: blue; */
    margin-left: 550px;
}
main article a:hover{
    color: #ffffff;
}
main article a .isari{
    background-image: url(../img/arrow.png);
    width: 28px;
    height: 28px;
}
footer{
    background-color: #000000;  
}
.footerispirveli{
    display: flex;
    justify-content: space-around;
    height: 300px;
    width: 100%;
    padding-top: 60px;
}
.footerish3{
    margin-top: 0;
    color: #ffffff;
    font-size: 70px;
    text-transform: uppercase;
}
.footerisp{
    color: #ffffff;
    font-size: 30px;
}
footer section a{
    color: #BDBDBD;
    font-size: 17px;
}
footer section a:hover{
    color: #BDBDBD;
}
footer .social{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
footer .social a{
    padding-right: 22px;
    color: rgb(0, 0, 0, 0);
    padding-bottom: 10px;
}
footer .social a:hover{
    color: rgb(0, 0, 0, 0);
}
footer .social .facebook{
    width: 32px;
    height: 32px;
    background-image: url(../img/Facebook.png);
}
footer .social .linkedin{
    width: 32px;
    height: 32px;
    background-image: url(../img/LinkedIn.png);
}
footer .social .instagram{
    width: 32px;
    height: 32px;
    background-image: url(../img/Instagram.png);
}
.footerisbolo{
    display: flex;
    justify-content: space-between;
    padding: 60px 30px 50px 30px;
}
.footerisbolo .bolo{
    color: #ffffff;
}
/* -----------------aboutus--------------- */
.about{
    background-color: #373737;
}
.about h2{
    width: 100%;
    font-size: 100px;
    text-align: center;
    color: #ffffff;
    padding-top: 50px;
    text-transform: uppercase;
}
.about .aboutismaini{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 50px;
}
.about .psdivi{
    width: 600px;
    height: 560px;
}
.about .aboutismaini p{
    color: #ffffff;
    font-size: 22px;
    margin: 26px 50px 24px 0;
}
.about .aboutisimg{
    width: 850px;
    height: 416px;
    background-image: url(../img/abouti.png);
    margin-top: 60px;
}
/* -----------------benefits--------------- */
.benefit{
    background-color: #1A191A;
    width: 100%;
}
.benefit h2{
    font-size: 100px;
    color: #ffffff;
    width: 1000px;
    margin: 50px 0 50px 140px;
    text-align: center;
}
.benefit .benefitisp{
    margin-left: 254px;
    color: #ffffff; 
    font-size: 20px;
}
.benefit .artiklebi{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around; 
    margin-top: 150px;
    text-align: center;
}
.benefit .artiklebi .map{
    width: 400px;
    background-color: #00DDA8;
    margin: 0;
    height: 400px;
}
.benefit .artiklebi .calendar{
    width: 400px;
    background-color: #CF2929;
    margin: 0;
    height: 400px;
}
.benefit .artiklebi .key{
    width: 400px;
    height: 400px;
    background-color: #0058DD;
    margin: 0;
}
.benefit .map .mapimg{
    background-image: url(../img/MAP.png);
    width: 250px;
    height: 250px;
    position:relative;
    margin: -100px 0 20px 50px; 
}
.benefit .calendar .calendarimg{
    background-image: url(../img/CALENDAR.png);
    width: 250px;
    height: 250px;
    position:relative;
    margin: 0;
    margin: -100px 0 20px 50px;
}
.benefit .key .keyimg{
    background-image: url(../img/KEY.png);
    width: 250px;
    height: 250px;
    position:relative;
    margin: 0;
    margin: -100px 0 20px 50px;
}
.benefit h3{
    color: #ffffff;
    font-size: 34px;
    margin-bottom: 20px;
}
.benefit .map p, .benefit .calendar p, .benefit .key p{
    margin: 0;
    padding: 0; 
    text-align: start;
    text-align: center;
    height: 100px;
    width: 100%;
    font-size: 24px;
}
.benefit .map a{
    margin: 0;
    padding: 0;
    text-align: center;
    color: #ffffff;
    font-size: 24px;
}
/*-----------------cars-------------*/
.cars{
    background-color: #000000;
    width: 100%;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    height: 480px;
    margin-left: 260px;
}
.cars h2{
    color: #ffffff;
    font-size: 50px;
    margin: 0 0 40px 50px;
    padding-top: 100px;
}
.cars p{
    color: #ffffff;
    font-size: 20px;
    margin-left: 50px;
}
.cars .carousel{
    overflow: hidden;
}
/* -----------contact------------------------ */
.contact{
    background-color: #000000;
    width: 100%;
}
.contact .ertad{
    display: flex;
    justify-content: space-evenly;
}
.contact .satauricontaqtis{
    padding-top: 40px;
}
.contact .satauricontaqtis, .chatboxmain{
    width: 450px;
}
.contact h2{
    font-size: 50px;
    color: #ffffff;
}
.contact p{
    font-size: 20px;
    color: #ffffff;
}
.chatboxmain{
    padding: 10px;
}
.chatboxmain textarea{
    height: 100px;
}
.chatboxmain input, .chatboxmain textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 16px;
    outline: none;
    resize: none;
    background-color: #373737;
}
.chatboxmain .send{
    width: 100%;
    padding: 16px;
    text-align: center;
    background-color: #373737;
    ;
}
/*------------------------ ipad pro ----------------- */
@media only screen and (max-width: 1024px) {
    body {
      background-color: lightblue;
    }
    .dropdown{
        display: none;
    }
    .navbar-nav{
        padding-left: 200px;
    }
    main article{
        margin-left: 270px;
    }
    main article p{
        width: 340px;
        padding-left: 70px;
    }
    .footerish3{
        width: 210px;
        margin-top: 16px;
    }
    .carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{
        padding-left: 0;
        margin-left: 86px;

    }
  } 
  /*---------------------- iphon 12 pro ------------ */
  @media only screen and (max-width: 400px) {
    body {
      background-image: url(../img/McLarenArtura-16_crop-3x4.webp);
      width: 400px;
      margin: -120px;
      overflow-x: hidden;
    }
    .container-fluid>.navbar-header{
        margin-left: 0;
        margin-right: -146px;
    }
    .navbar-default .navbar-brand {
        padding: 150px 0 10px 174px;
    }
    .dropdown{
        display: block;
    }
    .navbar-nav {
        padding-left: 200px;
        text-align: center;
    }
    main article{
        margin-left: 120px;
        margin-top: 150px;
        background-color: #373737;
        width: 410px;
        height: 380px;
    }
    main article h2{
        text-align: center;
        font-size: 50px;
        margin-left: -4px;
        width: 100%;
        height: 140px;
    }
    main article p{
        text-align: center;
        font-size: 20px;
        margin-left: 0;
        height: 150px;
    }
    main article .mainisa{
        margin-left: 150px;
    }
    footer{
        padding-left: 222px;
        width: 529px;
        height: 950px;
    }
    .footerispirveli{
        flex-direction: column;
        padding-top: 400px;
    }
    .footerisbolo{
        padding-top: 470px;
        padding-bottom: 0;
    }
    .cars{
       width: 530px;
    }
    .cars h2{
        margin-left: 180px;
        margin-top: 160px;
    }
    .cars p{
        margin-left: 180px;
    }
    .slide{
        margin-left: 180px;
    }
    .carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{
        margin-left: 1px;
        height: 192px;
    }
  }
